:root {
    --primary-100: #ff4500;
    --primary-200: #ff6a33;
    --primary-300: #ff8f66;
    --accent-100: #008080;
    --accent-200: #008080;
    --accent-300: #008080;
    --background-100: #fffdfd;
    --background-200: #ffe3e3;
    --background-300: #ffcaca;
    --text-100: #270a00;
    --text-200: #5a1700;
    --text-300: #8d2400;
  }

